<body>
    <section class="py-5 py-xl-8">
        <div class="container mb-5 mb-md-6">
            <div class="row justify-content-md-center">
                <div class="col-12 text-center">
                    <div class="site-heading">
                        <h1>EDITING ARTICLE</h1>
                    </div>
                    <%= render 'form' %>
                    <%= link_to 'Back', articles_path, class: "mt-5 btn btn-outline-secondary" %>
                </div>
            </div>
        </div>
    </section>
</body>  
